.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 817px;
  justify-content: center;
  background: #f2f2f2;

  span {
    font-size: 1.6rem;
    color: #424a4d;
    text-align: center;
    line-height: 2.24rem;
  }
}

.containerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1150px;
  width: 100%;
  height: 502px;
}

.containerHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    font-size: 1.2rem;
    letter-spacing: 5px;
    color: #00a077;
  }

  h1 {
    font-size: 4.8rem;
    color: #3b3e43;
    margin-top: 24px;
    margin-bottom: 32px;
    text-align: center;
    line-height: 6.72rem;
  }
}

.containerCompanys {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: space-between;
  row-gap: 48px;
  max-width: 1150px;
  width: 100%;
  margin-bottom: 40px;

  img {
    width: 142px;
    align-content: center;
  }
}
