.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;

  header {
    max-width: 1150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        margin-right: 32px;
        font-size: 1.6rem;
        font-weight: 700;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
