.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f2 url("../../../public/images/bg-3.png");
  background-position: top;
  background-repeat: no-repeat;

  button {
    border: none;
    background: transparent;
  }

  span {
    margin-top: 184px;
    margin-bottom: 14px;
    font-size: 1.2rem;
    font-family: "Ubuntu";
    letter-spacing: 5px;
  }

  h1 {
    margin-bottom: 24px;
    font-size: 4rem;
    line-height: 6.72rem;
    font-weight: 500;
  }

  p {
    margin-bottom: 32px;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    line-height: 2.8rem;
  }
}

.containerCard {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  height: 323px;

  max-width: 1150px;
  width: 100%;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 184px;
  }

  img {
    width: 250px;
    height: 250px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 2.8rem;

    h2 {
      color: #3b3e43;
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 15px;
    }

    p {
      color: #595e64;
      font-size: 1.6rem;
      margin-bottom: 0;
      line-height: 2.4rem;
      text-align: left;
    }

    ul {
      list-style: none;
      margin-top: 7.5px;
      li {
        color: #595e64;
      }
    }
  }
}

.container {
  @media screen and (max-width: 1180px) {
    text-align: center;
    padding: 0 20px;
  }
}

.containerCard {
  @media screen and (max-width: 1180px) {
    text-align: left;
    img {
      width: 150px;
      height: 150px;
    }
  }
}

.containerCard {
  @media (max-width: 500px) {
    flex-direction: column;

    div h2 {
      text-align: center;
    }

    div p {
      text-align: center;
    }
  }
}

.containerCard {
  @media (max-width: 400px) {
    img {
      margin-top: 20px;
      width: 100px;
      height: 100px;
    }
  }
}
