.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 184px;
  background: #f2f2f2 url("../../../public/images/bgsection03.png");
  background-position: top;
  background-repeat: no-repeat;

  span {
    // margin-top: 184px;
    margin-bottom: 14px;
    font-size: 1.2rem;
    font-family: "Ubuntu";
    letter-spacing: 5px;
  }

  h1 {
    margin-bottom: 24px;
    font-size: 4.8rem;
    line-height: 6.72rem;
    font-weight: 500;
  }

  p {
    margin-bottom: 32px;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    line-height: 2.8rem;
  }
}

.containerCard {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  height: 323px;

  max-width: 1150px;
  width: 100%;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  // img {
  //   width: 420px;
  //   height: 262px;
  //   padding-left: 2.6rem;
  // }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 2.8rem;

    h2 {
      color: #3b3e43;
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 15px;
    }

    p {
      color: #595e64;
      font-size: 1.6rem;
      margin-bottom: 0;
      line-height: 2.4rem;
      text-align: left;
    }
  }
}

.container {
  @media screen and (max-width: 1150px) {
    text-align: center;
  }
}

.containerCard {
  @media screen and (max-width: 1150px) {
    flex-direction: column;
    height: auto;
    div h2 {
      text-align: center;
    }

    div p {
      text-align: center;
    }
  }
}
